// Fonts mixin
font-url(file)
  return '../fonts/' + file

webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.otf')) format('opentype')
    font-weight weight
    font-style normal
    
// How to use:
// webfont('font-name', 'file-name', chrome-hack-boolean, 'weight')


shadow()
	box-shadow 0 0 20px -5px $gray;

	

      