//COLORS 
//------------------------------------------------
$black 			= #000000
$white 			= #ffffff
$pink			= #fe044b
$pink-2			= #432954
$gray			= #6d6e71
$gray-2			= #f1f2f2
$navy-blue		= #131947



//FONTS
//------------------------------------------------
$book 		= 'book'
$medium 	= 'medium'
$open 		= 'Open Sans'


// MEDIA QUERIES

$mw1199 	= '(max-width: 1199px)';
$mw992 		= '(max-width: 992px)';
$mw768		= '(max-width: 767px)';
$mw360		= '(max-width: 360px)';