footer
	background transparent url("../images/bg-footer.png") no-repeat center top;
	padding-top 350px;	
	height 713px;
	
	@media $mw768
		background transparent url("../images/bg-footer-mobile.png") no-repeat center top / 100% 100%;
		padding-top 210px;
		padding-bottom 75px
		margin-top 50px;
		height auto;
		
	
	.sobre
		line-height 27px;	

	p
		color $white;
		
	a
		color $white;
		
	nav
		a
			font-size 16px;
			text-transform uppercase;
			margin-bottom 15px;
			border-bottom: 1px dotted rgba(255, 255, 255, .8);
			padding-bottom 10px;
			display block;
			
			@media $mw1199
				font-size 15px;

			
			&:hover
				color $black;
			
			i
				margin-right 8px;
				
	.blog
		li
			display block;
			overflow hidden;
			border-top: 1px dotted rgba(255, 255, 255, .8);
			padding 20px 0 18px;
			

			a
				display block;
				font-size 14px;
				text-transform uppercase;
				color $white;
				
				&:hover
					color $navy-blue;
				
			.data
				color $white;
				font-size 10px;
				float left;
				
				@media $mw1199
					font-size 8px;				
				
				i
					color $white;
					margin-right 5px;
					font-size 12px;
				

			.autor
				color $white;
				font-size 10px;
				float left;
				margin-left 10px;
				
				@media $mw1199
					font-size 8px;
				
				i
					color $white;
					margin-right 5px;
					font-size 12px;					
			

	li
		display inline-block;
		
		.social
			padding 13px 10px 10px;
			border: 2px solid $navy-blue;
			background-color: $white;				
			margin-left: 10px;
			display inline-block;
			border-radius 100%;
			
			i
				width 25px;
				height 25px;
				text-align center;
				color: $black;
				font-size 25px
				
			&:hover
				background-color: $navy-blue;	
				
				i
					color $white;	
					
	.line
		border-top: 1px solid rgba(255, 255, 255, .4);
		
		@media $mw768
			margin 20px 20px 0;
			
					
		.copy
			float left;
			padding-top: 10px;
			
			@media $mw768
				float none;
				display table;
				margin 0 auto;
			
		.developer
			float right;
			padding-top:10px
			
			
			@media $mw768
				float none;
				display table;
				margin 15px auto 0;
				
.faca-um-teste
	background-color $pink;
	position fixed;
	width 100%;
	bottom 0;
	padding 15px;
	border-top 5px solid $black;
	z-index 5;
	
	@media (max-width: 420px)
		display flex
		justify-content space-around
	
	.teste
		font-size 12px;
		color $white;
		float left;
		
		@media (max-width: 420px)
			width 130px;
			float left;
			
		i
			@media (max-width: 420px)
				float left;
				margin-right 5px;
				padding-top 5px;
				font-size 20px;
			
		span
			@media (max-width: 420px)
				float left;
				width 100px;
				text-align center;

		
	.whats
		font-size 12px;
		color $white;		
		float right;
		
		@media (max-width: 420px)
			width 105px;
			float right;
			text-align center;
			
		i
			@media (max-width: 420px)
				float left;
				margin-right 10px
				padding-top 5px
				font-size 20px;
			
		span
			@media (max-width: 420px)
				float left;
				width 75px;
				text-align center;			
			
			
		