#header
	position absolute;
	width 100%;
	
	.navbar
		background transparent;
		border none;
		
		.navbar-header
			@media $mw768
				padding 10px 0 30px;
				background transparent url("../images/bg-top-mobile.png") no-repeat center center / 100% 100%;
				
		.navbar-collapse
			@media $mw768
				background transparent url("../images/bg-menu-mobile.png") no-repeat center center / 100% 100%;
				position absolute!important;
				width 100%;
				top 0;
				z-index 1;
			
		
		.collapse
			position relative;
			
		.navbar-toggle
			background transparent url("../images/close.png") no-repeat center center / 26px 21px;
			padding 0;
			border none;
			top -2px;
			width 26px;
			height 21px;
			border-radius 0;
			position relative;
			z-index 10;
						
		.navbar-toggle.collapsed			
			background transparent url("../images/hamburguer.png") no-repeat center center / 26px 21px;
			
			&:focus
				background-color: transparent;
		
		.navbar-brand	
			margin-left -280px;
			padding 0;
			position relative;
			z-index 1;
			
			@media $mw1199
				margin-left -155px;
				
			@media $mw768
				margin-left 0!important;				
			
			img	
				@media $mw1199
					width 435px;
					margin-left 15px;
					
				@media $mw768
					width auto!important;	
					
		.navbar-nav
			margin-top 65px;
			
			@media $mw768
				margin-top 170px;
			
		li
			margin 0 2px;

			@media $mw768
				border-bottom 1px dotted $pink-2;
				padding-bottom 10px;	
				margin-bottom 10px;		
			
			a
				font-size 16px;
				padding 10px 18px;
				border-radius 20px;
				font-family: $medium;
				
				&:hover
					background-color $pink;
					color $white;
					
				@media $mw768
					color $white;
					text-align left;	
					
				i.fas
					display none;			
					
					@media $mw768
						display inline-block;			
				
			.social
				padding 7px 6px 4px;
				border: 2px solid $pink;
				background-color: $white;				
				margin-left: 10px;
				line-height: 22px;
				
				@media $mw768
					border: 2px solid $pink-2;
					padding 10px 6px 4px;
					
				
				i
					width 20px;
					height 20px;
					text-align center;
					color: $black;
					font-size 20px
					
					@media $mw768
						color: $pink-2;

				&:hover
					background-color: $pink;	
					
					@media $mw768
						background-color: $pink-2;	
						
					
					i
						color $white;
				
		.active
			a
				background-color $pink;
				color $white;
				
				@media $mw768
					background-color transparent;
					
		.social-mobile
			display none;
			margin 80px 0 15px;
			border: none;
			
			@media $mw768
				display block;
				overflow hidden;
				padding 10px 0;
			
			li
				float left;
				border: none;