body
	font-family $book!important;	
	background transparent url("../images/textura.jpg") no-repeat center top;
	
	@media $mw992
		text-align center!important;

	
h3, a, span, img, button, .whatsapp
	transition ease-in-out .3s;	
	
h1, h2, h3
	@media $mw992
		text-align center!important;	
	
button
	box-shadow none;
	border none;
	
p
	font-family $open;
	font-size 14px;
	line-height 22px;
	color $gray;
	
li
	line-height 22px;
	
p.color-2
	color $white;
	
.title-1
	font-size 40px;
	color $black;
	text-transform uppercase;
	margin-bottom 30px;
	
	span
		font-family $medium;
		font-size 50px;
		color $pink;
		display block;
		font-weight 700;
		
		@media $mw768	
			font-size 38px;
		
.title-2
	font-size 18px;
	color $black;
	text-transform uppercase;
	margin-bottom 30px;
	line-height 24px;
	
	span
		font-family $medium;
		font-size 24px;
		color $pink;
		display block;
		font-weight 700;	
		
.title-3
	font-size 16px;
	color $white;
	text-transform uppercase;
	margin 0 0 10px;

.title-4
	font-size 24px;
	font-family $medium;
	color $white;
	font-weight 700;
	text-transform uppercase;
	margin 0 0 20px;	
		
.color-2
	span
		color $white;
		
.bt-0
	background-color $white;		
	shadow();
	padding 20px 10px 18px;
	border-radius 0 0 30px 30px;
	position absolute;
	top 0;
	right 0;
	z-index 10;
	text-transform uppercase;
	
	@media $mw768
		position relative;
		padding 0!important;
		border-radius 0;
	
	@media $mw360
		font-size 15px!important;
	
	span
		background-color $pink-2;
		padding 12px 20px;
		color $white;
		border-radius 30px
		
		&:hover
			background-color $black;
		
.bt-1
	color $navy-blue;
	font-size 16px;
	text-transform uppercase;
	font-family $medium;
	padding 15px 30px;
	border-radius 20px;
	display inline-block;
	shadow();


	i
		color $pink;
		margin-right 10px;
		
	&:hover
		background-color $pink;
		color $white;
		
		i
			color $white;
		

.bt-2		
	font-size 14px;
	font-family $medium;
	text-transform uppercase;
	padding 15px 35px;
	border 2px solid $pink;
	border-radius 30px;
	color $black;
	display inline-block;
	
	&:hover
		background-color $pink;
		color $white;
		

.bt-3
	color $black;
	font-size 26px;
	text-transform uppercase;
	font-family $medium;
	padding 15px 30px;
	border-radius 30px;
	display inline-block;
	background-color $pink;
	display table;
	margin 0 auto;
	
	@media $mw992
		font-size 14px;

	i
		color $white;
		margin-right 10px;
		
	&:hover
		color $white;
		
		i
			color $black;	
			
.bt-4
	background-color $navy-blue;
	font-size 14px;
	text-transform uppercase;
	padding 15px 30px;
	border-radius 30px;		
	display inline-block;
	margin-top 70px;
	
	&:hover
		color $white;
		background-color $black;			


.enviar
	background-color $pink;
	padding 15px 30px 15px 25px;
	color $white;
	text-transform uppercase;
	border-radius 40px;
	font-size 16px;
	float right;
	margin-top 30px;
	
	@media $mw768
		float none;
	
	&:hover
		color $black
		
		i
			color $white;
	
	span 
		position relative;
		top -2px;
	
	i
		color $black;
		font-size 25px;
		padding-right 12px;
		

// SPRITES		

.sprite
	background-image url("../images/spritesheet.png");
	background-repeat no-repeat;
	display block;


.sprite-ico-acesse
	width 96px;
	background-position -5px -5px;
	
	@media $mw768	
		background-position -17px -5px;
	
	&:hover	
		width 96px;
		background-position -111px -5px;
		
		@media $mw768	
			background-position -122px -5px;


.sprite-ico-atendimento
	width 188px;
	height 186px;
	background-position -217px -5px;


	&:hover
		width 188px;
		height 186px;
		background-position -415px -5px;


.sprite-ico-comprove
	width 96px;
	background-position -613px -5px;
	
	@media $mw768	
		background-position -625px -5px;


	&:hover
		width 96px;
		background-position -719px -5px;
		
		@media $mw768	
			background-position -732px -5px;		


.sprite-ico-estabilidade
	width 188px;
	height 186px;
	background-position -825px -5px;


	&:hover
		width 188px;
		height 186px;
		background-position -1023px -5px;


.sprite-ico-pague
	width 98px;
	background-position -1221px -5px;
	
	@media $mw768
		background-position -1232px -5px;


	&:hover
		width 98px;
		background-position -1329px -5px;
		
		@media $mw768
			background-position -1342px -5px;


.sprite-ico-preco-justo
	width 188px;
	height 186px;
	background-position -1437px -5px;


	&:hover
		width 188px;
		height 186px;
		background-position -1635px -5px;


.sprite-melhor-custo-beneficio
	width 221px;
	height 44px;
	background-position -1833px -5px;


.sprite-melhor-custo-beneficio-2
	width 219px;
	height 33px;
	background-position -2064px -5px;


.sprite-radio-disable
	width 31px;
	height 31px;
	background-position -2293px -5px;


	&:hover
		width 31px;
		height 31px;
		background-position -2334px -5px;


		

