.teste-gratis
	background transparent url("../images/foto-topo.png") no-repeat 40% 0;
	padding-top 300px;
	height 1211px;
	
	@media $mw1199
		height 1150px;
	
	@media $mw992
		background transparent url("../images/foto-topo-mobile.png") no-repeat right bottom;
		padding-top 200px;
		height auto!important;
		padding-bottom 300px;
		margin-bottom 175px;
	
	@media $mw768
		padding-top 120px;	
		padding-bottom 380px;
		
	.bt-1
		@media $mw768
			position absolute;
			left 50%;
			transform translateX(-50%);
			bottom -70px;
			padding 15px 18px;
			
	
	.group
		display block;
		margin-top 40px;
	
	p		
		margin-bottom 40px;	
		max-width 390px;
		
		@media $mw992
			max-width 100%;
		
	img
		margin-right 20px;	
	

.nossos-planos
	background transparent url("../images/efeito.png") no-repeat 25% 0%;
	margin-top -210px;
	
	.owl-carousel
		.owl-item
			img
				width 153px;
				height 137px;
				display table;
				margin 0 auto;					
	
	@media $mw768	
		background transparent url("../images/efeito-mobile.png") no-repeat left 0;		
		margin-top -275px;
		padding-top 90px;
				
	
	.list
		display table;
		margin: 45px auto 0;
		
		p
			display inline-block;
			cursor pointer;
			padding-top 40px;
			font-size 16px;
			color $black;
			font-weight 700;
			margin 0 25px;
			
			@media $mw992
				width 28%;
				margin-bottom 30px;	
				
		i
			display table;
			margin 0 auto 15px;		

		.active
			width 31px;
			height 31px;
			background-position -2334px -5px;
			
				
		.trimestral-label
			position: relative
			
			&:after
				content '';
				background-image url("../images/spritesheet.png");
				background-repeat no-repeat;
				display block;				
				width 221px;
				height 44px;
				background-position -1833px -5px;
				position: absolute;
				top 100%;
				left: 50%;	
				
				@media $mw768				
					left: 30%;	

	
	.title-plan
		font-size 20px;
		text-transform uppercase;
		color $gray;
		margin-bottom 0;
		
	.valor	
		font-size 30px;
		color $black;
		font-weight 700;
		font-family $medium;
		margin-bottom 30px;
		
		span
			color $pink;
			font-size 13px;
			vertical-align: super;		
		
	
	.plano
		display none;
		margin 110px auto;
		overflow hidden;
		padding: 10px 0;
		
		@media $mw768
			margin 45px auto 0;
	
		.item
			shadow();
			border-radius 20px;
			float left;
			margin 5px 20px;
			padding 60px 20px;
			
			
			@media $mw992
				min-width 98%;
				float none;
				display table;
				margin 5px auto;
			
			@media $mw768
				padding 60px 18px;

			ul
				list-style: none;
				margin-bottom 40px;
				
				li
					line-height: 22px;
					
					&:before
						content '• ';
						color $pink;
						
	.plano-1
		display block;
	
	
.comprar-ou-renovar
	position: relative;
	z-index: 1;		
	background transparent url("../images/bg-comprar-ou-renovar.png") no-repeat center center / cover;
	padding-top 220px;
	height 1406px;
	
	@media $mw1199
		padding-top 160px;
		margin-top 50px;
		background transparent url("../images/bg-comprar-ou-renovar-mobile.png") no-repeat center top;
		background-size: 100%;
		height auto;
		
	@media $mw992
		padding 80px 0 110px!important;
		background-size: 100% 100%!important;
		
	.img-char
		position relative;
		
		img
			max-width 829px;
			width auto;
			height auto;
			position absolute;
			right 0;
			
			@media (max-width 1350px)
				position relative;
				max-width 100%;
				display table;
				margin 0 auto 30px;
				
	
	.principal
		margin-bottom 60px;
		
		@media $mw1199
			margin-bottom 20px;

	.item
		color $white;
		display none;
		
		p
			color $white;
			
		.detail
			font-weight 700;
			padding 10px 0;
			
	.item-1
		display block;
			

	.list
		display table;
		margin: 0 auto 20px;
		border-bottom: 1px dotted rgba(255, 255, 255, .7);
		position: relative;
		
		@media $mw768
			display block;
		
		p
			display inline-block;
			cursor pointer;
			padding-top 95px;
			font-size 16px;
			color $white;
			font-weight 700;
			margin 0 25px 20px;
			width 90px;
			text-align center;
			text-transform uppercase;
			
			@media $mw768
				margin 0 4px 20px;
				font-size 14px;
				width 75px;
				
			
		.bar
			position absolute;
			height 2px;
			width 145px;
			background-color $white;
			left 17%;
			bottom -1px;
			transform translateX(-50%);
						
				

		.pague.active
			background-position -1329px -5px;				
			
			@media $mw768
				background-position -1342px -5px;			
				
		.comprove.active
			background-position -719px -5px;	
			
			@media $mw768	
				background-position -732px -5px;		
				
		.acesse.active
			background-position -111px -5px;	
			
			@media $mw768	
				background-position -122px -5px;	
						
		
.nossos-diferenciais
	position relative;
	z-index 0;	
	background transparent url("../images/textura.jpg") no-repeat center top;
	padding-top 150px;
	margin-top -335px;
	
	@media $mw1199
		margin-top -80px;
	
	@media $mw768
		padding-top 100px;
	
	li
		padding-top 220px;
		
		h3
			text-transform uppercase;
			font-size 19px;
			font-family $medium;
			font-weight 700;
			max-width 330px;
			display table;
			margin 0 auto 30px;
			line-height 22px;
			
		p
			font-size 16px;
			color $gray;
			
	.item
		position relative;

	.item-1
		background transparent url("../images/ico-estabilidade.png") no-repeat center 20px;
		
	.item-2
		background transparent url("../images/ico-preco-justo.png") no-repeat center 20px;
		
	.item-3
		background transparent url("../images/ico-atendimento.png") no-repeat center 20px;				

			
.nosso-blog	
	background transparent url("../images/bg-blog.jpg") no-repeat center top;
	padding-top 210px;
		
	@media $mw768
		margin-top -100px;
	
	.artigos
		margin-top 80px;
		
		@media (min-width 769px)
			.owl-stage
				width auto!important;
			
		@media $mw768
			margin-top 40px;

		.item
			background-color: $white;
			border-radius 20px;
			max-width 95%;
			float left;
			margin 0 15px 65px;
			padding 30px 0 0;
			overflow hidden
			position relative;
			
			@media $mw1199
				margin 0 10px 30px;
			
			@media $mw768
				max-width 100%;
			
			&:hover
				.title
					color $pink;						
						
			a
				position absolute
				top 0;
				left 0;
				width 100%;
				height: 100%;			
			
			.title
				padding 0 20px;
				font-size 18px;
				font-family $medium;
				font-weight 700;
				color $black;
				line-height 22px;
				min-height 70px;
				
			.txt
				color $gray;
				font-size 14px;
				line-height 22px;
				padding 0 20px 30px;
				clear both;
				min-height 130px;
				
			img
				height 177px;
				
				@media $mw1199
					height 260px;
					
				@media $mw992
					height 215px!important;					
				
				@media $mw768
					display none;
					height auto;
				
			.data
				color $gray;
				font-size 10px;
				float left;
				margin-left 20px;
				
				i
					color $pink;
					margin-right 5px;
					font-size 12px;
				

			.autor
				color $gray;
				font-size 10px;
				float right;
				margin-right 20px;
				
				i
					color $pink;
					margin-right 5px;
					font-size 12px;	
	
	.quero-ver-mais	
		color $white;
					

.depoimentos
	overflow-x hidden;
	margin-top 50px;
	
	.owl-nav
		display block;
		
		@media $mw768
			display none;
	
	.grupo
		margin-top 80px;
		
		@media $mw768
		
			margin-bottom 30px;
		
		.owl-dots
			display none;
			
		.owl-prev, .owl-next
			margin 35px 15px 0!important;
			
			span
				font-size 35px;
				border 2px solid $pink;
				border-radius 100%;
				width 40px;
				height 40px;
				display inline-block;
				line-height 0.8;
				text-align center;
				
			&:hover
				background-color: transparent!important;	
				
				span
					background-color: $pink;
	
	.item
		background-color: $white;
		padding 80px 30px 30px;
		position: relative;
		border-radius 15px;
		shadow();	
		
		p
			font-size 16px;			
		
		.txt
			line-height 22px;
			min-height 135px;
			
		.autor
			color $pink
			font-family $medium;
			border-top 1px solid $pink;
			padding-top 30px;
			margin-top 30px;
			min-height 75px;
			
			span
				color $black
				
		
		img
			width auto!important;
			position: absolute;
			top -45px;
			left 50%;
			transform translateX(-50%);
				
		
			
	.owl-carousel
		.owl-stage-outer			
			overflow visible;
			
.contato
	background transparent url("../images/foto-contato.png") no-repeat 40% 0;
	padding-top 210px;	
	height 1130px;
	margin-bottom -150px;
	margin-top -10px;
	position: relative;
	z-index 1;
	
	@media $mw1199
		padding-top 75px;
	
	@media $mw768
		padding-bottom 405px;
		margin-bottom -100px;
		height auto;
		background transparent url("../images/foto-contato-mobile.png") no-repeat right 100%;
	
	p
		margin-bottom 50px;
		
	.tel
		font-weight 700;
		font-family $open;
		font-size 20px;
		line-height 24px;
		
		a
			color $gray;
		
		i
			font-size 50px;
			float left;
			margin-right 20px;
			color $black;
			
			@media $mw768
				float none
				display block;
				margin 0 0 15px 0;
			
	.email
		font-weight 700;
		font-family $open;
		font-size 16px;
		line-height 42px;
		
		i
			font-size 50px;
			float left;
			margin-right 20px;
			color $black;	
			
			@media $mw768
				float none
				display block;
				margin 0 0 15px 0;			
			
	.formulario
		
		.form-control
			border-top 0 solid transparent;		    
			border-left 0 solid transparent;		    
			border-right 0 solid transparent;	
			border-radius 0;
							    
	    input
		    border-bottom 1px solid $pink;
		    resize vertical;
		    font-size 16px;
		    font-family $open;
		    color $gray;
		    
	    select
		    border-bottom 1px solid $pink;
		    resize vertical;
		    font-size 16px;
		    font-family $open;
		    color $gray;	
		    
	    textarea
		    border-bottom 1px solid $pink;
		    resize vertical;
		    font-size 16px;
		    font-family $open;
		    color $gray;	
		    min-height 120px;	
		    

.whatsapp
	position: fixed;
	z-index 10;
	right 0;
	top 50%;
	
	&:hover
		opacity .90;
	
	@media $mw992
		display none;
	
	img
		height auto;
		width auto;
		
		@media (max-width 1300px)		    
			width 180px;
	
	.close-whats
		position absolute;
		right 5px;
		top 40px;
		width 9px;
		height 9px;
		cursor pointer;
		
.close-whatsapp
	right -250px;					

.quero-ver-mais	
	display none;		
	margin 20px 0 35px;
	font-size 14px;
	color $black;
	font-family $book;	
	
	@media $mw768
		display block;

			

.owl-nav, .owl-dots
	display none;
	



// @-moz-keyframes radialOne{
//     0%{
//         opacity:1;
//         -moz-transform:scale3d(1,1,1)
//     }
//     100%{
//         opacity:0;
//         -moz-transform:scale3d(1.5,1.5,1)
//     }
// }
// @keyframes radialOne{
//     0%{
//         opacity:1;
//         -webkit-transform:scale3d(1,1,1);
//         -moz-transform:scale3d(1,1,1);
//         -ms-transform:scale3d(1,1,1);
//         -o-transform:scale3d(1,1,1);
//         transform:scale3d(1,1,1)
//     }
//     100%{
//         opacity:0;
//         -webkit-transform:scale3d(1.5,1.5,1);
//         -moz-transform:scale3d(1.5,1.5,1);
//         -ms-transform:scale3d(1.5,1.5,1);
//         -o-transform:scale3d(1.5,1.5,1);
//         transform:scale3d(1.5,1.5,1)
//     }
// }



	
// @keyframes radialOne{
// 	0%{
// 		opacity 1;
// 		-webkit-transform scale3d(1,1,1);
// 	}
// 	100%{
// 		opacity 0;
// 		-webkit-transform scale3d(1.5,1.5,1);
// 	}
// }	

// .efeito
// 	-webkit-animation radialOne 1s ease-in-out infinite;
	
		    

		    