.descritivo
	padding-top 310px
	padding-bottom: 80px;
		
	@media $mw768
		padding-top 90px;
		
	.title-1
		@media $mw1199
			text-align center;
		
	
	img
		height auto;
		position absolute;
		right -85px;
		top -215px;
		
		@media $mw1199
			width 219px;
			position relative;
			right 0;
			top 0;
			display table;
			margin 10px auto 30px;
		
.nossos-planos.internas
	background transparent url("../images/nossos-planos-interna.png") no-repeat center top;
	margin-top 0;
	padding-top 140px;
	padding-bottom 170px;
	position relative;
	z-index 1;
	
	@media $mw768
		background transparent url("../images/nossos-planos-interna-mobile.png") no-repeat center top;
		padding-top 110px;
		background-size: 100% 100%;
	
	.list
		display block;
		
		.trimestral-label			
			&:after
				background-image url("../images/spritesheet.png");
				background-repeat no-repeat;
				display block;				
				width 219px;
				height 33px;
				background-position -2064px -5px;
				top 110%;
		
	.bt-3
		display inline-block;
		margin-top 80px;
		background-color $white;
		color $black;
		
		@media $mw768
			margin-top 30px;
		
		&:hover
			color $pink	
			
			i
				color $black;		
		
		i
			color $pink;
			
	.plano
		margin-top 0;
		
		@media $mw768
			margin-top 50px;
		
		.item
			background-color $white;
			padding 40px 20px 20px;
			
.receptores
	position relative;
	z-index 0;	
	
	@media $mw768
		.title-1
			text-align center!important
			font-size 32px;

	@media(min-width 768px)
	
		.owl-stage
			width auto!important;
	
	.lista-receptores
		margin-top 60px;
		float left;
		
		@media $mw768
			margin-top 30px;

		li
			margin-bottom 40px;	
			
		img
			display table!important;
			margin 0 auto!important;
			width auto!important;	
			

.contato.internas
	background transparent url("../images/foto-contato-internas.png") no-repeat 40% 0;
	
	@media $mw768
		background transparent url("../images/foto-contato-internas-mobile.png") no-repeat right 100%;	
		


.thank-you		
	padding 300px 0 0;
	margin-bottom: 150px;
	
	.bt-2
		display table;
		margin 30px auto 0;
		
		
		

	