html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
body.no-scroll {
  overflow: hidden;
}
body,
html {
  font-size: 10px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: 0;
}
b,
strong {
  font-weight: 700;
}
a {
  text-decoration: none !important;
}
a:link,
a:visited,
a:active {
  text-decoration: none !important;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
body {
  font-family: 'book' !important;
  background: transparent url("../images/textura.jpg") no-repeat center top;
}
@media (max-width: 992px) {
  body {
    text-align: center !important;
  }
}
h3,
a,
span,
img,
button,
.whatsapp {
  transition: ease-in-out 0.3s;
}
@media (max-width: 992px) {
  h1,
  h2,
  h3 {
    text-align: center !important;
  }
}
button {
  box-shadow: none;
  border: none;
}
p {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 22px;
  color: #6d6e71;
}
li {
  line-height: 22px;
}
p.color-2 {
  color: #fff;
}
.title-1 {
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.title-1 span {
  font-family: 'medium';
  font-size: 50px;
  color: #fe044b;
  display: block;
  font-weight: 700;
}
@media (max-width: 767px) {
  .title-1 span {
    font-size: 38px;
  }
}
.title-2 {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
  line-height: 24px;
}
.title-2 span {
  font-family: 'medium';
  font-size: 24px;
  color: #fe044b;
  display: block;
  font-weight: 700;
}
.title-3 {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.title-4 {
  font-size: 24px;
  font-family: 'medium';
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.color-2 span {
  color: #fff;
}
.bt-0 {
  background-color: #fff;
  box-shadow: 0 0 20px -5px #6d6e71;
  padding: 20px 10px 18px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .bt-0 {
    position: relative;
    padding: 0 !important;
    border-radius: 0;
  }
}
@media (max-width: 360px) {
  .bt-0 {
    font-size: 15px !important;
  }
}
.bt-0 span {
  background-color: #432954;
  padding: 12px 20px;
  color: #fff;
  border-radius: 30px;
}
.bt-0 span:hover {
  background-color: #000;
}
.bt-1 {
  color: #131947;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'medium';
  padding: 15px 30px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0 0 20px -5px #6d6e71;
}
.bt-1 i {
  color: #fe044b;
  margin-right: 10px;
}
.bt-1:hover {
  background-color: #fe044b;
  color: #fff;
}
.bt-1:hover i {
  color: #fff;
}
.bt-2 {
  font-size: 14px;
  font-family: 'medium';
  text-transform: uppercase;
  padding: 15px 35px;
  border: 2px solid #fe044b;
  border-radius: 30px;
  color: #000;
  display: inline-block;
}
.bt-2:hover {
  background-color: #fe044b;
  color: #fff;
}
.bt-3 {
  color: #000;
  font-size: 26px;
  text-transform: uppercase;
  font-family: 'medium';
  padding: 15px 30px;
  border-radius: 30px;
  display: inline-block;
  background-color: #fe044b;
  display: table;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .bt-3 {
    font-size: 14px;
  }
}
.bt-3 i {
  color: #fff;
  margin-right: 10px;
}
.bt-3:hover {
  color: #fff;
}
.bt-3:hover i {
  color: #000;
}
.bt-4 {
  background-color: #131947;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 30px;
  display: inline-block;
  margin-top: 70px;
}
.bt-4:hover {
  color: #fff;
  background-color: #000;
}
.enviar {
  background-color: #fe044b;
  padding: 15px 30px 15px 25px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 40px;
  font-size: 16px;
  float: right;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .enviar {
    float: none;
  }
}
.enviar:hover {
  color: #000;
}
.enviar:hover i {
  color: #fff;
}
.enviar span {
  position: relative;
  top: -2px;
}
.enviar i {
  color: #000;
  font-size: 25px;
  padding-right: 12px;
}
.sprite {
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}
.sprite-ico-acesse {
  width: 96px;
  background-position: -5px -5px;
}
@media (max-width: 767px) {
  .sprite-ico-acesse {
    background-position: -17px -5px;
  }
}
.sprite-ico-acesse:hover {
  width: 96px;
  background-position: -111px -5px;
}
@media (max-width: 767px) {
  .sprite-ico-acesse:hover {
    background-position: -122px -5px;
  }
}
.sprite-ico-atendimento {
  width: 188px;
  height: 186px;
  background-position: -217px -5px;
}
.sprite-ico-atendimento:hover {
  width: 188px;
  height: 186px;
  background-position: -415px -5px;
}
.sprite-ico-comprove {
  width: 96px;
  background-position: -613px -5px;
}
@media (max-width: 767px) {
  .sprite-ico-comprove {
    background-position: -625px -5px;
  }
}
.sprite-ico-comprove:hover {
  width: 96px;
  background-position: -719px -5px;
}
@media (max-width: 767px) {
  .sprite-ico-comprove:hover {
    background-position: -732px -5px;
  }
}
.sprite-ico-estabilidade {
  width: 188px;
  height: 186px;
  background-position: -825px -5px;
}
.sprite-ico-estabilidade:hover {
  width: 188px;
  height: 186px;
  background-position: -1023px -5px;
}
.sprite-ico-pague {
  width: 98px;
  background-position: -1221px -5px;
}
@media (max-width: 767px) {
  .sprite-ico-pague {
    background-position: -1232px -5px;
  }
}
.sprite-ico-pague:hover {
  width: 98px;
  background-position: -1329px -5px;
}
@media (max-width: 767px) {
  .sprite-ico-pague:hover {
    background-position: -1342px -5px;
  }
}
.sprite-ico-preco-justo {
  width: 188px;
  height: 186px;
  background-position: -1437px -5px;
}
.sprite-ico-preco-justo:hover {
  width: 188px;
  height: 186px;
  background-position: -1635px -5px;
}
.sprite-melhor-custo-beneficio {
  width: 221px;
  height: 44px;
  background-position: -1833px -5px;
}
.sprite-melhor-custo-beneficio-2 {
  width: 219px;
  height: 33px;
  background-position: -2064px -5px;
}
.sprite-radio-disable {
  width: 31px;
  height: 31px;
  background-position: -2293px -5px;
}
.sprite-radio-disable:hover {
  width: 31px;
  height: 31px;
  background-position: -2334px -5px;
}
@font-face {
  font-family: 'book';
  src: url("../fonts/Gotham-Book.otf") format('opentype');
  font-weight: false;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url("../fonts/Gotham-Medium.otf") format('opentype');
  font-weight: 'normal';
  font-style: normal;
}
#header {
  position: absolute;
  width: 100%;
}
#header .navbar {
  background: transparent;
  border: none;
}
@media (max-width: 767px) {
  #header .navbar .navbar-header {
    padding: 10px 0 30px;
    background: transparent url("../images/bg-top-mobile.png") no-repeat center center/100% 100%;
  }
}
@media (max-width: 767px) {
  #header .navbar .navbar-collapse {
    background: transparent url("../images/bg-menu-mobile.png") no-repeat center center/100% 100%;
    position: absolute !important;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}
#header .navbar .collapse {
  position: relative;
}
#header .navbar .navbar-toggle {
  background: transparent url("../images/close.png") no-repeat center center/26px 21px;
  padding: 0;
  border: none;
  top: -2px;
  width: 26px;
  height: 21px;
  border-radius: 0;
  position: relative;
  z-index: 10;
}
#header .navbar .navbar-toggle.collapsed {
  background: transparent url("../images/hamburguer.png") no-repeat center center/26px 21px;
}
#header .navbar .navbar-toggle.collapsed:focus {
  background-color: transparent;
}
#header .navbar .navbar-brand {
  margin-left: -280px;
  padding: 0;
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  #header .navbar .navbar-brand {
    margin-left: -155px;
  }
}
@media (max-width: 767px) {
  #header .navbar .navbar-brand {
    margin-left: 0 !important;
  }
}
@media (max-width: 1199px) {
  #header .navbar .navbar-brand img {
    width: 435px;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  #header .navbar .navbar-brand img {
    width: auto !important;
  }
}
#header .navbar .navbar-nav {
  margin-top: 65px;
}
@media (max-width: 767px) {
  #header .navbar .navbar-nav {
    margin-top: 170px;
  }
}
#header .navbar li {
  margin: 0 2px;
}
@media (max-width: 767px) {
  #header .navbar li {
    border-bottom: 1px dotted #432954;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
#header .navbar li a {
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 20px;
  font-family: 'medium';
}
#header .navbar li a:hover {
  background-color: #fe044b;
  color: #fff;
}
@media (max-width: 767px) {
  #header .navbar li a {
    color: #fff;
    text-align: left;
  }
}
#header .navbar li a i.fas {
  display: none;
}
@media (max-width: 767px) {
  #header .navbar li a i.fas {
    display: inline-block;
  }
}
#header .navbar li .social {
  padding: 7px 6px 4px;
  border: 2px solid #fe044b;
  background-color: #fff;
  margin-left: 10px;
  line-height: 22px;
}
@media (max-width: 767px) {
  #header .navbar li .social {
    border: 2px solid #432954;
    padding: 10px 6px 4px;
  }
}
#header .navbar li .social i {
  width: 20px;
  height: 20px;
  text-align: center;
  color: #000;
  font-size: 20px;
}
@media (max-width: 767px) {
  #header .navbar li .social i {
    color: #432954;
  }
}
#header .navbar li .social:hover {
  background-color: #fe044b;
}
@media (max-width: 767px) {
  #header .navbar li .social:hover {
    background-color: #432954;
  }
}
#header .navbar li .social:hover i {
  color: #fff;
}
#header .navbar .active a {
  background-color: #fe044b;
  color: #fff;
}
@media (max-width: 767px) {
  #header .navbar .active a {
    background-color: transparent;
  }
}
#header .navbar .social-mobile {
  display: none;
  margin: 80px 0 15px;
  border: none;
}
@media (max-width: 767px) {
  #header .navbar .social-mobile {
    display: block;
    overflow: hidden;
    padding: 10px 0;
  }
}
#header .navbar .social-mobile li {
  float: left;
  border: none;
}
footer {
  background: transparent url("../images/bg-footer.png") no-repeat center top;
  padding-top: 350px;
  height: 713px;
}
@media (max-width: 767px) {
  footer {
    background: transparent url("../images/bg-footer-mobile.png") no-repeat center top/100% 100%;
    padding-top: 210px;
    padding-bottom: 75px;
    margin-top: 50px;
    height: auto;
  }
}
footer .sobre {
  line-height: 27px;
}
footer p {
  color: #fff;
}
footer a {
  color: #fff;
}
footer nav a {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 1px dotted rgba(255,255,255,0.8);
  padding-bottom: 10px;
  display: block;
}
@media (max-width: 1199px) {
  footer nav a {
    font-size: 15px;
  }
}
footer nav a:hover {
  color: #000;
}
footer nav a i {
  margin-right: 8px;
}
footer .blog li {
  display: block;
  overflow: hidden;
  border-top: 1px dotted rgba(255,255,255,0.8);
  padding: 20px 0 18px;
}
footer .blog li a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
footer .blog li a:hover {
  color: #131947;
}
footer .blog li .data {
  color: #fff;
  font-size: 10px;
  float: left;
}
@media (max-width: 1199px) {
  footer .blog li .data {
    font-size: 8px;
  }
}
footer .blog li .data i {
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
}
footer .blog li .autor {
  color: #fff;
  font-size: 10px;
  float: left;
  margin-left: 10px;
}
@media (max-width: 1199px) {
  footer .blog li .autor {
    font-size: 8px;
  }
}
footer .blog li .autor i {
  color: #fff;
  margin-right: 5px;
  font-size: 12px;
}
footer li {
  display: inline-block;
}
footer li .social {
  padding: 13px 10px 10px;
  border: 2px solid #131947;
  background-color: #fff;
  margin-left: 10px;
  display: inline-block;
  border-radius: 100%;
}
footer li .social i {
  width: 25px;
  height: 25px;
  text-align: center;
  color: #000;
  font-size: 25px;
}
footer li .social:hover {
  background-color: #131947;
}
footer li .social:hover i {
  color: #fff;
}
footer .line {
  border-top: 1px solid rgba(255,255,255,0.4);
}
@media (max-width: 767px) {
  footer .line {
    margin: 20px 20px 0;
  }
}
footer .line .copy {
  float: left;
  padding-top: 10px;
}
@media (max-width: 767px) {
  footer .line .copy {
    float: none;
    display: table;
    margin: 0 auto;
  }
}
footer .line .developer {
  float: right;
  padding-top: 10px;
}
@media (max-width: 767px) {
  footer .line .developer {
    float: none;
    display: table;
    margin: 15px auto 0;
  }
}
.faca-um-teste {
  background-color: #fe044b;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px;
  border-top: 5px solid #000;
  z-index: 5;
}
@media (max-width: 420px) {
  .faca-um-teste {
    display: flex;
    justify-content: space-around;
  }
}
.faca-um-teste .teste {
  font-size: 12px;
  color: #fff;
  float: left;
}
@media (max-width: 420px) {
  .faca-um-teste .teste {
    width: 130px;
    float: left;
  }
}
@media (max-width: 420px) {
  .faca-um-teste .teste i {
    float: left;
    margin-right: 5px;
    padding-top: 5px;
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .faca-um-teste .teste span {
    float: left;
    width: 100px;
    text-align: center;
  }
}
.faca-um-teste .whats {
  font-size: 12px;
  color: #fff;
  float: right;
}
@media (max-width: 420px) {
  .faca-um-teste .whats {
    width: 105px;
    float: right;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .faca-um-teste .whats i {
    float: left;
    margin-right: 10px;
    padding-top: 5px;
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .faca-um-teste .whats span {
    float: left;
    width: 75px;
    text-align: center;
  }
}
.teste-gratis {
  background: transparent url("../images/foto-topo.png") no-repeat 40% 0;
  padding-top: 300px;
  height: 1211px;
}
@media (max-width: 1199px) {
  .teste-gratis {
    height: 1150px;
  }
}
@media (max-width: 992px) {
  .teste-gratis {
    background: transparent url("../images/foto-topo-mobile.png") no-repeat right bottom;
    padding-top: 200px;
    height: auto !important;
    padding-bottom: 300px;
    margin-bottom: 175px;
  }
}
@media (max-width: 767px) {
  .teste-gratis {
    padding-top: 120px;
    padding-bottom: 380px;
  }
}
@media (max-width: 767px) {
  .teste-gratis .bt-1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -70px;
    padding: 15px 18px;
  }
}
.teste-gratis .group {
  display: block;
  margin-top: 40px;
}
.teste-gratis p {
  margin-bottom: 40px;
  max-width: 390px;
}
@media (max-width: 992px) {
  .teste-gratis p {
    max-width: 100%;
  }
}
.teste-gratis img {
  margin-right: 20px;
}
.nossos-planos {
  background: transparent url("../images/efeito.png") no-repeat 25% 0%;
  margin-top: -210px;
}
.nossos-planos .owl-carousel .owl-item img {
  width: 153px;
  height: 137px;
  display: table;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .nossos-planos {
    background: transparent url("../images/efeito-mobile.png") no-repeat left 0;
    margin-top: -275px;
    padding-top: 90px;
  }
}
.nossos-planos .list {
  display: table;
  margin: 45px auto 0;
}
.nossos-planos .list p {
  display: inline-block;
  cursor: pointer;
  padding-top: 40px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  margin: 0 25px;
}
@media (max-width: 992px) {
  .nossos-planos .list p {
    width: 28%;
    margin-bottom: 30px;
  }
}
.nossos-planos .list i {
  display: table;
  margin: 0 auto 15px;
}
.nossos-planos .list .active {
  width: 31px;
  height: 31px;
  background-position: -2334px -5px;
}
.nossos-planos .list .trimestral-label {
  position: relative;
}
.nossos-planos .list .trimestral-label:after {
  content: '';
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  width: 221px;
  height: 44px;
  background-position: -1833px -5px;
  position: absolute;
  top: 100%;
  left: 50%;
}
@media (max-width: 767px) {
  .nossos-planos .list .trimestral-label:after {
    left: 30%;
  }
}
.nossos-planos .title-plan {
  font-size: 20px;
  text-transform: uppercase;
  color: #6d6e71;
  margin-bottom: 0;
}
.nossos-planos .valor {
  font-size: 30px;
  color: #000;
  font-weight: 700;
  font-family: 'medium';
  margin-bottom: 30px;
}
.nossos-planos .valor span {
  color: #fe044b;
  font-size: 13px;
  vertical-align: super;
}
.nossos-planos .plano {
  display: none;
  margin: 110px auto;
  overflow: hidden;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .nossos-planos .plano {
    margin: 45px auto 0;
  }
}
.nossos-planos .plano .item {
  box-shadow: 0 0 20px -5px #6d6e71;
  border-radius: 20px;
  float: left;
  margin: 5px 20px;
  padding: 60px 20px;
}
@media (max-width: 992px) {
  .nossos-planos .plano .item {
    min-width: 98%;
    float: none;
    display: table;
    margin: 5px auto;
  }
}
@media (max-width: 767px) {
  .nossos-planos .plano .item {
    padding: 60px 18px;
  }
}
.nossos-planos .plano .item ul {
  list-style: none;
  margin-bottom: 40px;
}
.nossos-planos .plano .item ul li {
  line-height: 22px;
}
.nossos-planos .plano .item ul li:before {
  content: '• ';
  color: #fe044b;
}
.nossos-planos .plano-1 {
  display: block;
}
.comprar-ou-renovar {
  position: relative;
  z-index: 1;
  background: transparent url("../images/bg-comprar-ou-renovar.png") no-repeat center center/cover;
  padding-top: 220px;
  height: 1406px;
}
@media (max-width: 1199px) {
  .comprar-ou-renovar {
    padding-top: 160px;
    margin-top: 50px;
    background: transparent url("../images/bg-comprar-ou-renovar-mobile.png") no-repeat center top;
    background-size: 100%;
    height: auto;
  }
}
@media (max-width: 992px) {
  .comprar-ou-renovar {
    padding: 80px 0 110px !important;
    background-size: 100% 100% !important;
  }
}
.comprar-ou-renovar .img-char {
  position: relative;
}
.comprar-ou-renovar .img-char img {
  max-width: 829px;
  width: auto;
  height: auto;
  position: absolute;
  right: 0;
}
@media (max-width: 1350px) {
  .comprar-ou-renovar .img-char img {
    position: relative;
    max-width: 100%;
    display: table;
    margin: 0 auto 30px;
  }
}
.comprar-ou-renovar .principal {
  margin-bottom: 60px;
}
@media (max-width: 1199px) {
  .comprar-ou-renovar .principal {
    margin-bottom: 20px;
  }
}
.comprar-ou-renovar .item {
  color: #fff;
  display: none;
}
.comprar-ou-renovar .item p {
  color: #fff;
}
.comprar-ou-renovar .item .detail {
  font-weight: 700;
  padding: 10px 0;
}
.comprar-ou-renovar .item-1 {
  display: block;
}
.comprar-ou-renovar .list {
  display: table;
  margin: 0 auto 20px;
  border-bottom: 1px dotted rgba(255,255,255,0.7);
  position: relative;
}
@media (max-width: 767px) {
  .comprar-ou-renovar .list {
    display: block;
  }
}
.comprar-ou-renovar .list p {
  display: inline-block;
  cursor: pointer;
  padding-top: 95px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin: 0 25px 20px;
  width: 90px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .comprar-ou-renovar .list p {
    margin: 0 4px 20px;
    font-size: 14px;
    width: 75px;
  }
}
.comprar-ou-renovar .list .bar {
  position: absolute;
  height: 2px;
  width: 145px;
  background-color: #fff;
  left: 17%;
  bottom: -1px;
  transform: translateX(-50%);
}
.comprar-ou-renovar .list .pague.active {
  background-position: -1329px -5px;
}
@media (max-width: 767px) {
  .comprar-ou-renovar .list .pague.active {
    background-position: -1342px -5px;
  }
}
.comprar-ou-renovar .list .comprove.active {
  background-position: -719px -5px;
}
@media (max-width: 767px) {
  .comprar-ou-renovar .list .comprove.active {
    background-position: -732px -5px;
  }
}
.comprar-ou-renovar .list .acesse.active {
  background-position: -111px -5px;
}
@media (max-width: 767px) {
  .comprar-ou-renovar .list .acesse.active {
    background-position: -122px -5px;
  }
}
.nossos-diferenciais {
  position: relative;
  z-index: 0;
  background: transparent url("../images/textura.jpg") no-repeat center top;
  padding-top: 150px;
  margin-top: -335px;
}
@media (max-width: 1199px) {
  .nossos-diferenciais {
    margin-top: -80px;
  }
}
@media (max-width: 767px) {
  .nossos-diferenciais {
    padding-top: 100px;
  }
}
.nossos-diferenciais li {
  padding-top: 220px;
}
.nossos-diferenciais li h3 {
  text-transform: uppercase;
  font-size: 19px;
  font-family: 'medium';
  font-weight: 700;
  max-width: 330px;
  display: table;
  margin: 0 auto 30px;
  line-height: 22px;
}
.nossos-diferenciais li p {
  font-size: 16px;
  color: #6d6e71;
}
.nossos-diferenciais .item {
  position: relative;
}
.nossos-diferenciais .item-1 {
  background: transparent url("../images/ico-estabilidade.png") no-repeat center 20px;
}
.nossos-diferenciais .item-2 {
  background: transparent url("../images/ico-preco-justo.png") no-repeat center 20px;
}
.nossos-diferenciais .item-3 {
  background: transparent url("../images/ico-atendimento.png") no-repeat center 20px;
}
.nosso-blog {
  background: transparent url("../images/bg-blog.jpg") no-repeat center top;
  padding-top: 210px;
}
@media (max-width: 767px) {
  .nosso-blog {
    margin-top: -100px;
  }
}
.nosso-blog .artigos {
  margin-top: 80px;
}
@media (min-width: 769px) {
  .nosso-blog .artigos .owl-stage {
    width: auto !important;
  }
}
@media (max-width: 767px) {
  .nosso-blog .artigos {
    margin-top: 40px;
  }
}
.nosso-blog .artigos .item {
  background-color: #fff;
  border-radius: 20px;
  max-width: 95%;
  float: left;
  margin: 0 15px 65px;
  padding: 30px 0 0;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1199px) {
  .nosso-blog .artigos .item {
    margin: 0 10px 30px;
  }
}
@media (max-width: 767px) {
  .nosso-blog .artigos .item {
    max-width: 100%;
  }
}
.nosso-blog .artigos .item:hover .title {
  color: #fe044b;
}
.nosso-blog .artigos .item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nosso-blog .artigos .item .title {
  padding: 0 20px;
  font-size: 18px;
  font-family: 'medium';
  font-weight: 700;
  color: #000;
  line-height: 22px;
  min-height: 70px;
}
.nosso-blog .artigos .item .txt {
  color: #6d6e71;
  font-size: 14px;
  line-height: 22px;
  padding: 0 20px 30px;
  clear: both;
  min-height: 130px;
}
.nosso-blog .artigos .item img {
  height: 177px;
}
@media (max-width: 1199px) {
  .nosso-blog .artigos .item img {
    height: 260px;
  }
}
@media (max-width: 992px) {
  .nosso-blog .artigos .item img {
    height: 215px !important;
  }
}
@media (max-width: 767px) {
  .nosso-blog .artigos .item img {
    display: none;
    height: auto;
  }
}
.nosso-blog .artigos .item .data {
  color: #6d6e71;
  font-size: 10px;
  float: left;
  margin-left: 20px;
}
.nosso-blog .artigos .item .data i {
  color: #fe044b;
  margin-right: 5px;
  font-size: 12px;
}
.nosso-blog .artigos .item .autor {
  color: #6d6e71;
  font-size: 10px;
  float: right;
  margin-right: 20px;
}
.nosso-blog .artigos .item .autor i {
  color: #fe044b;
  margin-right: 5px;
  font-size: 12px;
}
.nosso-blog .quero-ver-mais {
  color: #fff;
}
.depoimentos {
  overflow-x: hidden;
  margin-top: 50px;
}
.depoimentos .owl-nav {
  display: block;
}
@media (max-width: 767px) {
  .depoimentos .owl-nav {
    display: none;
  }
}
.depoimentos .grupo {
  margin-top: 80px;
}
@media (max-width: 767px) {
  .depoimentos .grupo {
    margin-bottom: 30px;
  }
}
.depoimentos .grupo .owl-dots {
  display: none;
}
.depoimentos .grupo .owl-prev,
.depoimentos .grupo .owl-next {
  margin: 35px 15px 0 !important;
}
.depoimentos .grupo .owl-prev span,
.depoimentos .grupo .owl-next span {
  font-size: 35px;
  border: 2px solid #fe044b;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 0.8;
  text-align: center;
}
.depoimentos .grupo .owl-prev:hover,
.depoimentos .grupo .owl-next:hover {
  background-color: transparent !important;
}
.depoimentos .grupo .owl-prev:hover span,
.depoimentos .grupo .owl-next:hover span {
  background-color: #fe044b;
}
.depoimentos .item {
  background-color: #fff;
  padding: 80px 30px 30px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 20px -5px #6d6e71;
}
.depoimentos .item p {
  font-size: 16px;
}
.depoimentos .item .txt {
  line-height: 22px;
  min-height: 135px;
}
.depoimentos .item .autor {
  color: #fe044b;
  font-family: 'medium';
  border-top: 1px solid #fe044b;
  padding-top: 30px;
  margin-top: 30px;
  min-height: 75px;
}
.depoimentos .item .autor span {
  color: #000;
}
.depoimentos .item img {
  width: auto !important;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}
.depoimentos .owl-carousel .owl-stage-outer {
  overflow: visible;
}
.contato {
  background: transparent url("../images/foto-contato.png") no-repeat 40% 0;
  padding-top: 210px;
  height: 1130px;
  margin-bottom: -150px;
  margin-top: -10px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  .contato {
    padding-top: 75px;
  }
}
@media (max-width: 767px) {
  .contato {
    padding-bottom: 405px;
    margin-bottom: -100px;
    height: auto;
    background: transparent url("../images/foto-contato-mobile.png") no-repeat right 100%;
  }
}
.contato p {
  margin-bottom: 50px;
}
.contato .tel {
  font-weight: 700;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 24px;
}
.contato .tel a {
  color: #6d6e71;
}
.contato .tel i {
  font-size: 50px;
  float: left;
  margin-right: 20px;
  color: #000;
}
@media (max-width: 767px) {
  .contato .tel i {
    float: none;
    display: block;
    margin: 0 0 15px 0;
  }
}
.contato .email {
  font-weight: 700;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 42px;
}
.contato .email i {
  font-size: 50px;
  float: left;
  margin-right: 20px;
  color: #000;
}
@media (max-width: 767px) {
  .contato .email i {
    float: none;
    display: block;
    margin: 0 0 15px 0;
  }
}
.contato .formulario .form-control {
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-radius: 0;
}
.contato input {
  border-bottom: 1px solid #fe044b;
  resize: vertical;
  font-size: 16px;
  font-family: 'Open Sans';
  color: #6d6e71;
}
.contato select {
  border-bottom: 1px solid #fe044b;
  resize: vertical;
  font-size: 16px;
  font-family: 'Open Sans';
  color: #6d6e71;
}
.contato textarea {
  border-bottom: 1px solid #fe044b;
  resize: vertical;
  font-size: 16px;
  font-family: 'Open Sans';
  color: #6d6e71;
  min-height: 120px;
}
.whatsapp {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 50%;
}
.whatsapp:hover {
  opacity: 0.9;
}
@media (max-width: 992px) {
  .whatsapp {
    display: none;
  }
}
.whatsapp img {
  height: auto;
  width: auto;
}
@media (max-width: 1300px) {
  .whatsapp img {
    width: 180px;
  }
}
.whatsapp .close-whats {
  position: absolute;
  right: 5px;
  top: 40px;
  width: 9px;
  height: 9px;
  cursor: pointer;
}
.close-whatsapp {
  right: -250px;
}
.quero-ver-mais {
  display: none;
  margin: 20px 0 35px;
  font-size: 14px;
  color: #000;
  font-family: 'book';
}
@media (max-width: 767px) {
  .quero-ver-mais {
    display: block;
  }
}
.owl-nav,
.owl-dots {
  display: none;
}
.descritivo {
  padding-top: 310px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .descritivo {
    padding-top: 90px;
  }
}
@media (max-width: 1199px) {
  .descritivo .title-1 {
    text-align: center;
  }
}
.descritivo img {
  height: auto;
  position: absolute;
  right: -85px;
  top: -215px;
}
@media (max-width: 1199px) {
  .descritivo img {
    width: 219px;
    position: relative;
    right: 0;
    top: 0;
    display: table;
    margin: 10px auto 30px;
  }
}
.nossos-planos.internas {
  background: transparent url("../images/nossos-planos-interna.png") no-repeat center top;
  margin-top: 0;
  padding-top: 140px;
  padding-bottom: 170px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .nossos-planos.internas {
    background: transparent url("../images/nossos-planos-interna-mobile.png") no-repeat center top;
    padding-top: 110px;
    background-size: 100% 100%;
  }
}
.nossos-planos.internas .list {
  display: block;
}
.nossos-planos.internas .list .trimestral-label:after {
  background-image: url("../images/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  width: 219px;
  height: 33px;
  background-position: -2064px -5px;
  top: 110%;
}
.nossos-planos.internas .bt-3 {
  display: inline-block;
  margin-top: 80px;
  background-color: #fff;
  color: #000;
}
@media (max-width: 767px) {
  .nossos-planos.internas .bt-3 {
    margin-top: 30px;
  }
}
.nossos-planos.internas .bt-3:hover {
  color: #fe044b;
}
.nossos-planos.internas .bt-3:hover i {
  color: #000;
}
.nossos-planos.internas .bt-3 i {
  color: #fe044b;
}
.nossos-planos.internas .plano {
  margin-top: 0;
}
@media (max-width: 767px) {
  .nossos-planos.internas .plano {
    margin-top: 50px;
  }
}
.nossos-planos.internas .plano .item {
  background-color: #fff;
  padding: 40px 20px 20px;
}
.receptores {
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  .receptores .title-1 {
    text-align: center !important;
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .receptores .owl-stage {
    width: auto !important;
  }
}
.receptores .lista-receptores {
  margin-top: 60px;
  float: left;
}
@media (max-width: 767px) {
  .receptores .lista-receptores {
    margin-top: 30px;
  }
}
.receptores .lista-receptores li {
  margin-bottom: 40px;
}
.receptores .lista-receptores img {
  display: table !important;
  margin: 0 auto !important;
  width: auto !important;
}
.contato.internas {
  background: transparent url("../images/foto-contato-internas.png") no-repeat 40% 0;
}
@media (max-width: 767px) {
  .contato.internas {
    background: transparent url("../images/foto-contato-internas-mobile.png") no-repeat right 100%;
  }
}
.thank-you {
  padding: 300px 0 0;
  margin-bottom: 150px;
}
.thank-you .bt-2 {
  display: table;
  margin: 30px auto 0;
}
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
.owl-height {
  transition: height 0.5s ease-in-out;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
